html {
    height: 100%;
}

body {
    min-height: 100%;
    color: #404040;
    background-color: #fcfcfc;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

a {
    color: $color-primary;
    text-decoration: none;
    outline: none;

    &:hover,
    &:focus {
        color: lighten($color: $color-primary, $amount: 10%);
    }
}

.mask {
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 3.6rem;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($color: #000, $alpha: .3);
        z-index: 1000;
    }
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.page-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .actions {
        display: flex;
        gap: .6rem;

        input {
            width: 10rem;
        }
    }
}

.page-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    padding: .6rem 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #ccc;

    .actions {
        display: flex;
        gap: .4rem;
    }
}

.nebula-table {
    background-color: #efefef;
    box-sizing: border-box;
    padding: 1.6rem .8rem;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        thead {
            tr {
                th {
                    border-bottom: 2px solid darken($color: #efefef, $amount: 6%);
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 .2rem 1.6rem;
                    box-sizing: border-box;
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 1.6rem .2rem 0;
                    box-sizing: border-box;
                }
            }
        }
    }
}
