.nebula-navbar {
    background-color: $color-primary;

    .container {
        height: 3.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.6rem;

        .logo {
            height: 100%;
            font-size: 1.4rem;
            color: #fff;
            font-weight: bold;
            flex: none;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: auto;
            background-color: $color-primary;

            .menu {
                display: flex;
                align-items: center;
                list-style: none;
                gap: .3rem;
                padding: 0;
                margin: 0;

                li {
                    a {
                        height: 3rem;
                        padding: 0 .6rem;
                        display: flex;
                        align-items: center;
                        gap: .3rem;
                        color: #fff;
                        font-weight: bold;
                        white-space: nowrap;
                        border-radius: .4rem;
                        transition: background-color .2s linear;

                        .avatar {
                            width: 1.8rem;
                            height: 1.8rem;
                            border-radius: .2rem;
                        }
                    }

                    &:hover,
                    &.active {
                        a {
                            background-color: rgba(255, 255, 255, .1);
                        }
                    }
                }
            }
        }

        .menu-toggle {
            display: none;
        }
    }

    @media (max-width: 900px) {
        .container {
            height: 3.6rem;
            padding-right: 0;

            .main {
                display: none;
                height: initial;
                position: absolute;
                top: 3.6rem;
                right: 0;
                bottom: 0;
                flex-direction: column;
                justify-content: initial;
                overflow-x: hidden;
                overflow-y: auto;
                z-index: 10000;

                .menu {
                    flex-direction: column;
                    align-items: inherit;
                    gap: initial;
                    width: 3.6rem;
                    gap: .3rem;
                    margin-bottom: .3rem;

                    li {
                        a {
                            padding: 0;
                            font-size: 1.6rem;
                            width: 3rem;
                            height: 3rem;
                            justify-content: center;

                            .text {
                                display: none;
                            }
                        }
                    }
                }

                &.open {
                    display: block;
                }
            }

            .menu-toggle {
                border: 0;
                padding: 0;
                cursor: pointer;
                color: #fff;
                background-color: transparent;
                font-size: 1.6rem;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: .4rem;
                margin-right: .3rem;

                &:hover {
                    background-color: rgba(0, 0, 1, .1);
                }
            }
        }
    }
}
