@keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.nebula-notice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: $color-grey-1;
    background-color: $color-primary;
    animation: fade 2s forwards;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 2px solid lighten($color: $color-primary, $amount: 10%);

    &.nebula-info {
        background-color: $color-info;
        border-bottom-color: lighten($color: $color-info, $amount: 10%);
    }

    &.nebula-success {
        background-color: $color-success;
        border-bottom-color: lighten($color: $color-success, $amount: 10%);
    }

    &.nebula-warning {
        background-color: $color-warning;
        border-bottom-color: lighten($color: $color-warning, $amount: 10%);
    }

    &.nebula-error {
        background-color: $color-error;
        border-bottom-color: lighten($color: $color-error, $amount: 10%);
    }
}
