$color-white: #fff;
$color-dark: #000;

$color-primary: #2c6777;

$color-info: #2c6777;
$color-warning: #9c501c;
$color-success: #3e7538;
$color-error: #a3281c;

$color-grey-0: #1d1d1d;
$color-grey-1: #2f2f2f;
$color-grey-2: #c7c7c7;
$color-grey-3: #a8a8a8;
$color-grey-4: #898989;
$color-grey-5: #6c6c6c;
$color-grey-6: #555;
$color-grey-7: #424242;
$color-grey-8: #e6e6e6;
$color-grey-9: #f9f9f9;

// 导航栏字体颜色
$color-navbar-font: #fff;
