$color-white: #fff;
$color-dark: #000;

$color-primary: #2c6777;
$color-info: #2c6777;
$color-warning: #9c501c;
$color-success: #3e7538;
$color-error: #a3281c;

$color-grey-0: #f9f9f9;
$color-grey-1: #e6e8ea;
$color-grey-2: #c7cacd;
$color-grey-3: #a8abaf;
$color-grey-4: #898d92;
$color-grey-5: #6c7074;
$color-grey-6: #555b60;
$color-grey-7: #42464b;
$color-grey-8: #2f3236;
$color-grey-9: #1d1f23;
