.markdown {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0 1rem;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: .3rem;
            height: 80%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background-color: #2980b9;
        }
    }

    pre {
        color: #ccc;
        background-color: #2d2d2d;
        border-radius: .3rem;
        padding: 1rem;
        position: relative;
    }

    blockquote {
        border-left: 4px solid #2980b9;
        padding: 0 1rem;
        margin: 1rem 0;
        border-radius: .6rem;
        line-height: 1.6rem;
    }

    ul,
    ol {
        list-style: none;
        padding: 0;

        li {
            position: relative;
            padding-left: 1.2rem;
            margin: .4rem 0;

            &::before {
                content: "";
                display: block;
                width: .4rem;
                height: .4rem;
                border: .2rem solid #2980b9;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover {
                color: #2980b9;
            }
        }
    }
}
