.signup {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10% 16px;
    box-sizing: border-box;

    .signup-wrapper {
        width: 100%;
        max-width: 18rem;
        padding: 1rem;

        .signup-title {
            color: $color-primary;
            text-align: center;
            font-size: 2.6rem;
            letter-spacing: .1rem;
            margin: 0 0 3rem;
        }

        .input,
        .button {
            height: 3rem;
        }

        .signup-tools {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }
    }
}
